<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!------ Include the above in your HEAD tag ---------->
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body style="background-color: white">
<!------ Include the above in your HEAD tag ---------->


<div class="col-md-4 col-md-offset-4" id="login">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <section id="inner-wrapper" style="border-radius:20px" class="login">
        <article>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"> </i></span>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <p>
                    if you not registered , please go to <a href="{% url 'user-register' %}">Register</a>
                </p>
                <button type="submit" class="btn btn-success btn-block">Login</button>
            </form>
        </article>
    </section>
</div>
</body>
</html>