{% extends 'base.html' %}
{% load static %}
{% block content %}
    <hr class="my-4">
    <div class="row g-5 align-items-center justify-content-center"
         style='background: url("{% static 'images/add-medicine.jpg' %}");
                 background-repeat: no-repeat;
                 background-size: cover;
                 min-height: 100vh;
                 '>
        <div class="col-md-6 col-lg-8 col-sm-12 text-center">
            <h1 class="mb-3" style="font-family: 'Pattaya', sans-serif;">Add Medicine</h1>
            <form class="needs-validation" method="post" action="{% url 'create-medicine' %}">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="Name" class="form-label">Medicine Name</label>
                        <input type="text" class="form-control" id="name" name="Mname" placeholder="Medicine Name"
                               required>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="address" class="form-label">Medicine Location</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" name="location" id="location"
                                   placeholder="Medicine location"
                                   required>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <label for="address" class="form-label">Category</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" name="cat" id="category"
                                   placeholder="Category Name"
                                   required>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="address" class="form-label">Company Name</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" name="coname" id="coname"
                                   placeholder="Company Name"
                                   required>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="address" class="form-label">Descriptions</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" name="description" id="description"
                                   placeholder="Descriptions"
                                   required>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <label for="salary" class="form-label">Original Price</label>
                        <input type="text" name="Oprice" required class="form-control" id="salary"
                               placeholder="Original price">
                    </div>

                    <div class="col-md-6">
                        <label for="payment" class="form-label">Selling Price</label>
                        <input type="number" name="Sprice" required class="form-control" id="payment"
                               placeholder="Selling price">
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <label for="salary" class="form-label">Number of Medicine</label>
                        <input type="number" name="Nmedicine" required class="form-control" id="salary"
                               placeholder="Number of medicine">
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <label for="salary" class="form-label">Expire Date</label>
                        <input type="date" name="edate" required class="form-control" id="salary"
                               placeholder="Number of medicine">
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-sm" type="submit">Add Medicine</button>
            </form>
        </div>
    </div>
    <hr class="my-4">
{% endblock %}