{% extends 'base.html' %}
{#{% load static %}#}

{% block content %}

    <h3 class="text-center mt-2" style="font-family: 'Pattaya', sans-serif;">Medicines History</h3>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-4 align-items-center">
        <form class="row mb-4" method="GET">
            {% csrf_token %}
            <div class="col-md-6">
                <input type="text" name="q" class="form-control" placeholder="Name or date(YYYY/MM/DD)"
                       aria-label="First name">
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" VALUE="Search"/>
            </div>
        </form>
    </div>
    <table id="example" class="table table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>No.</th>
            <th>Medicine name</th>
            <th>Quantity</th>
            <th>Expense</th>
            <th>Selling</th>
            <th>Profit</th>
            <th>Date</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody id="tbody">

        {% for history in histories %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td>{{ history.medicine_name }}</td>
                    <td>{{ history.quantity }}</td>
                    <td>{{ history.expense }}৳</td>
                    <td>{{ history.selling }}৳</td>
                    <td>{{ history.profit }}৳</td>
                    <td>{{ history.created_at }}</td>
                    <td style="text-align: center">
                        <a href="{% url 'medicine-delete-history' history.id %}">
                            <span class="alert-danger" data-feather="trash"></span>
                        </a>
                    </td>
                </tr>
{#            {% endif %}#}
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <nav aria-label="Page navigation example">
        {% if histories.has_other_pages %}
            <ul class="pagination">
                {% if histories.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ histories.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in histories.paginator.page_range %}
                    {% if histories.number == i %}
                        <li class="page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if sales.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ histories.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
{% endblock content %}
