{% extends 'base.html' %}

{% block content %}
    <hr class="my-4">
    <div class="row g-5 align-items-center justify-content-center">
        <div class="col-md-6 col-lg-8 col-sm-12 text-center">
            <h4 class="mb-3">Add Customer</h4>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form class="needs-validation" method="post" action="{% url 'create-customer' %}">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="firstName" class="form-label">Customer Name</label>
                        <input type="text" class="form-control" id="firstName" name="name" placeholder="Customer Name"
                               required>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" name="address" id="address" placeholder="Address"
                                   required>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Phone Number</label>
                        <input type="text" required class="form-control" name="phonenumber" id="phonenumber"
                               placeholder="Phone Number">
                    </div>

                    <div class="col-md-6">
                        <label for="salary" class="form-label">Medicine Price</label>
                        <input type="number" name="medicine_price" required class="form-control" id="salary"
                               placeholder="Medicine Price">
                    </div>

                    <div class="col-md-6">
                        <label for="payment" class="form-label">Payment</label>
                        <input type="number" name="payment" required class="form-control" id="payment"
                               placeholder="Payment">
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-sm" type="submit">Add Customer</button>
            </form>
        </div>
    </div>
    <hr class="my-4">
    {#    </div>#}
{% endblock %}